.subscription-expiration {
  .modal-footer {
    .btn {
      @extend .btn-primary;
    }
  }
}



.welcome-title{
  color: var(--unnamed-color-1a46de)!important;
  font-size: 32px!important;
  font-weight: 300!important;

}

.main-container{
  max-width: 90%;
  margin: auto;
}


@include media-breakpoint-up(xl) {
  .main-container{
    max-width: 100%;
  }
  .welcome-title{
    position: absolute !important;
    margin-left: 22vw;
  }
  .main-tabs-content{
    display: flex;
      gap: 2vw;
      min-height: 85vh;
      nav{
        &.nav-tabs{
          flex-direction: column;
          width: 20vw;
          background: white;
        }
        .nav-item{
          padding:15px 0px 15px 30px
        }
      }
      .tab-content{
        margin-top: 3%;
      }
  }
}
